<footer>
    <div class="container container-fluid text-left font-weight-light">
        <hr></hr>
        <p><small>Created by Larry Tubbs - copyright {{getCurrentYear}}, ALL RIGHTS RESERVED</small></p>
    </div>

    <script src="http://localhost:3000/js/jquery.slim.min.js"></script>
    <script src="http://localhost:3000/js/popper.min.js"></script>
    <script src="http://localhost:3000/js/bootstrap.min.js"></script>
    <script src="http://localhost:3000/js/js.cookie.js"></script>
</footer>