<footer>
    <div class="container container-fluid text-left font-weight-light">
        <p><small>Created by Larry Tubbs - copyright {{getCurrentYear}}, ALL RIGHTS RESERVED</small></p>
    </div>
</footer>