<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <div class="container">
            <p>{{screamIt welcomeMessage}}</p>
        </div>
        {{> footer}}
    </body>
</html>