<!DOCTYPE html>
<html>
    {{> head}}
    <body>
        {{> header}}
        <div class="container">
            <p>{{welcomeMessage}}</p>
            <p><a href="logout">Logout</a></p>
        </div>
        {{> footer}}
    </body>
</html>